<div class="container">
    <h1>Update Post</h1>
  
    <a href="#" routerLink="/user/index" class="btn btn-primary">Back</a>
        
    <form [formGroup]="form" (ngSubmit)="submit()">
  
        <div class="form-group">
            <label for="name">Name:</label>
            <input 
                formControlName="name"
                id="name" 
                type="text" 
                [(ngModel)]="post.name"
                class="form-control">
            <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
                <div *ngIf="f.name.errors.required">Name is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="username">Username:</label>
            <input 
                formControlName="username"
                id="username" 
                type="text" 
                [(ngModel)]="post.username"
                class="form-control">
            <div *ngIf="f.username.touched && f.username.invalid" class="alert alert-danger">
                <div *ngIf="f.username.errors.required">Username is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input 
                formControlName="email"
                id="email" 
                type="text" 
                [(ngModel)]="post.email"
                class="form-control">
            <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
                <div *ngIf="f.email.errors.required">Ephoneis required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="phone">Phone:</label>
            <input 
                formControlName="phone"
                id="phone" 
                type="text" 
                [(ngModel)]="post.phone"
                class="form-control">
            <div *ngIf="f.phone.touched && f.phone.invalid" class="alert alert-danger">
                <div *ngIf="f.phone.errors.required">Phone is required.</div>
            </div>
        </div>
        
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Update</button>
    </form>
</div>